	/* @import url('https://fonts.cdnfonts.com/css/bahnschrift'); */
	@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
	@font-face {
		font-family: nlight;
		src: url(NexaLight.otf);
	}
	@font-face {
		font-family: nbold;
		src: url(NexaBold.otf);
	}
	html{
		scroll-behavior: smooth;
	}
	.parentdetail{
		font-family: Trebuchet MS;
		font-size: 14px;
	}
	.filterEmo{
		/* filter: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><filter id='f'><feColorMatrix color-interpolation-filters='sRGB' type='matrix' values='0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  1 0 1 0 0'/></filter></svg>#f"); */
	}




/* loader css */
	/* Center the loader */
	#loader {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  z-index: 1;
	  width: 120px;
	  height: 120px;
	  margin: -76px 0 0 -76px;
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid #3498db;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
	}
	
	.fadeout{
		animation: fadeOut 1s linear forwards;
	}
	
	#loaderCont{
	  background: white;
	  width: 100%;
	  position: fixed;
	  height: 100%;
	  z-index: 999999999;
	}
	@keyframes fadeOut {
	   0% {opacity: 1;}
	   100% {opacity: 0; display: none;} 
	} 
	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}

	/* Add animation to "page content" */
	.animate-bottom {
	  position: relative;
	  -webkit-animation-name: animatebottom;
	  -webkit-animation-duration: 1s;
	  animation-name: animatebottom;
	  animation-duration: 1s
	}

	@-webkit-keyframes animatebottom {
	  from { bottom:-100px; opacity:0 } 
	  to { bottom:0px; opacity:1 }
	}

	@keyframes animatebottom { 
	  from{ bottom:-100px; opacity:0 } 
	  to{ bottom:0; opacity:1 }
	}

	#myDiv {
	  display: none;
	  text-align: center;
	}
/* loader css ends */


	#BTT {
		display: none;
		position: fixed;
		bottom: 20px;
		right: 30px;
		z-index: 999999;
		font-size: 31px;
		border: none;
		outline: none;
		background-color: #343434bd;
		color: #ffffff;
		cursor: pointer;
		padding: 8px;
		border-radius: 50%;
		transition: 0.2s;
	}

	#BTT:hover {
		/* background-color: #fff; */
		bottom: 25px;
	}
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

	.button{display: inline-block;
		outline: 0;
		cursor: pointer;
		padding: 5px 16px;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		vertical-align: middle;
		border: 1px solid;
		border-radius: 6px;
		color: #ffffff;
		background-color: #2ea44f;
		border-color: #1b1f2326;
		box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
		transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
		transition-property: color, background-color, border-color;
	}
	.button:hover {
		background-color: #2c974b;
		border-color: #1b1f2326;
		transition-duration: 0.1s;
		color: #ffffff;
	}

	.button-1{
		display: inline-block;
		outline: 0;
		border: 0;
		cursor: pointer;
		background-color: #4299e1;
		border-radius: 4px;
		padding: 4px 8px;
		font-size: 13px;
		border-bottom: 4px solid #2b6cb0;
		font-weight: 700;
		color: white;
		line-height: 20px;
		text-decoration: none;
	}
	.button-1:hover{
		color: white;
	}
	

	
	.button-4 {
		display: inline-block;
		outline: 3px solid white;
		cursor: pointer;
		font-size: 14px;
		line-height: 1;
		border-radius: 500px;
		transition-property: background-color,border-color,color,box-shadow,filter;
		transition-duration: .3s;
		border: 1px solid transparent;
		letter-spacing: 2px;
		min-width: 160px;
		text-transform: uppercase;
		white-space: normal;
		font-weight: 700;
		text-align: center;
		padding: 16px 14px 18px;
		color: #fff;
		height: 48px;
		margin-right: 10px;
	}
	
	.button-4:hover {
	    background-color: white;
	    color: black;
		outline: 3px solid white;
	}

	.button-4-2 {
		display: inline-block;
		outline: 3px solid white;
		cursor: pointer;
		font-size: 14px;
		line-height: 1;
		border-radius: 500px;
		transition-property: background-color,border-color,color,box-shadow,filter;
		transition-duration: .3s;
		border: 1px solid transparent;
		letter-spacing: 2px;
		min-width: 160px;
		text-transform: uppercase;
		white-space: normal;
		font-weight: 700;
		text-align: center;
		padding: 16px 14px 18px;
		color: black;
		height: 48px;
		margin-right: 5px;
		background: white;
	}
	.button-4-2:hover {
	    background-color: white;
	    color: black;
		outline: 3px solid white;
	}
	
	
	
	a, a:hover{text-decoration: none;}
	
	body{
		font-family: nlight;
	}

	.portfolio-elements {
		padding: 27px;
		background: #f5f5f573;
		box-shadow: 0px 6px 17px #00000038;
		border-bottom: 3px solid green;
		margin: 8.1px;
	}
	
	.image-portfolio {
		height: 150px;
		display: inherit;
		overflow: hidden;
		margin-bottom: 20px;
	}
	
	@media only screen and (min-width: 768px){
		.col-sm-3 {
			width: 23% !important;
		}
	}
	.profilephoto:hover {
		border: 8px solid #d98eff;
		transition: 0.7s;
		box-shadow: 0 10px 10px -4px #662d8c, 0 15px 30px 4px rgb(207 0 255 / 50%), 0 7px 7px -1px #2b0950, 0 1px 1px 0 rgb(207 0 255 / 50%), inset 0 0 8px 0 #ff005b;
	}
	
	.profilephoto {
		border-radius: 50%;
		border: 8px solid #fff;
		height: 303px;
		box-shadow: 0 7px 8px -4px #662d8c0a, 0 10px 30px 4px rgb(164 59 189 / 50%), 0 4px 5px -1px #2b095057, 0 0 1px 0 rgb(207 0 255 / 0%), inset 0 0 0 1px rgb(255 255 255 / 24%);
		transition: 0.7s;
	}
	
	.namehead {
		letter-spacing: 3px;
		font-family: nlight;
		font-size: 60px;
	}
	.thishead {
		letter-spacing: 3px;
		font-family: nlight;
		font-size: 20px;
	}
	
	
	.jumbotron {
		background-image: linear-gradient(to bottom, transparent, black), url(../images/cover2.jpg);
		height: 100%;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
	}
	
	.icon-bar {

	}

	.icon-bar a {
	  display: inline;
	  text-align: center;
	  padding: 16px;
	  transition: all 0.3s ease;
	  color: white;
	  font-size: 20px;
	}

	.icon-bar a:hover {
	  background-color: #000;
	}

	.facebook {
	  background: #3B5998;
	  color: white;
	}

	.twitter {
	  background: #55ACEE;
	  color: white;
	}

	.github {
	  background: #333;
	  color: white;
	}

	.linkedin {
	  background: #007bb5;
	  color: white;
	}

	.youtube {
	  background: #bb0000;
	  color: white;
	}

	.content {
	  margin-left: 75px;
	}

	.cat{
		padding: 4px;
		color: white;
		border-radius: 4px;
		font-size: 12px;
	}
	.used{
		margin-bottom: 10px;
		margin-top: 10px;
	}

/* Skill Bar CSS */
	.skills-container {
		width: 100%;
		background-color: #ddd;
		margin-bottom: 4px;
		border-bottom: 1px solid #8080804a;
		border-radius: 50px;
		overflow: hidden;
	}
	
	.skill-title {
		float: left;
		color: white;
		padding-top: 0px;
		padding-bottom: -7px;
		margin-left: 15px;
		font-size: 14px;
		font-family: Trebuchet MS;
	}
	
	.skills {
		text-align: right;
		padding-right: 8px;
		padding-top: 0px;
		padding-bottom: -1px;
		color: white;
		border-radius: 0px 3px 3px;
		font-size: 14px;
	}
	
	.footsoc{
		color: #fff;
		font-size: 34px;
		text-decoration: none;
		transition: 0.3s;
	}
	.footsoc:hover{
		color: #fff;
		font-size: 34px;
		text-decoration: none;
		transition: 0.3s;
	}
	
	.usersc{
		font-size: 17px;
		background-color: #009fd0;
	}
	.usersc:hover{
		background-color: #0373b7;
	}
	
	.footersec{
		background-image: linear-gradient(to bottom, transparent, black), url(../images/cover2.jpg);
		height: 100%;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		color: white;

	}
	.footersec a{
		text-decoration: none;
		color: white;
	}
	.footersec a:hover{
		text-decoration: none;
		color: white;
	}
	.clearfix{height: 20px;}
	